body {
    background-color: black;
}
ul {
    padding:auto,20px;
    text-align: center;
    display:block;
}
ul li {
    float:right;
    margin: auto;
    width:110px;
    text-align: left;
    
}

ul li a {
    color:white;
    text-decoration:none;
}

.content{
    width:70%;
    display: inline-block;
}
.panel {
    width: 80%;
    margin: auto;
    background-color: #DEDEDE;
    border: 1px solid red;
}
.header {
    height: 60px;
    text-align:center;
    background-color: #333333;
}
.article {
    background-color:#FFFFFF;
    margin: 20px;
    padding-bottom:20px; 
    border-bottom:2px solid #838383;
    border-right:2px solid #838383;
}

p{
    text-indent:2em;
    line-height:1.5em;
    margin: 20px;
}

 h2,h3{
    margin: 20px;
    padding-top: 20px;
}

.title{
    color:#56685F;
}

.goodImg{
    margin: 20px;
    width:120px;
    height:120px;
    border:1px solid #CBCBCB;
    text-align: center;
    display: inline-block;
}
table {
    width: 95%;
    border-collapse:collapse;
    margin: auto;
}
table  thead {
    background-color: #333333;
    color:white;
}
table tfoot {
    font-weight: 800;
    background-color: #CCCCCC;
}
.left{
    float: left;
    text-align: right;
    width: 45%;
}
.right{
    float: left;
    text-align: left;
    width: 55%;
}
.btn{
    width: 427px;
    height: 40px;
    text-align: center;
    background-color:#4148CB;
    color:white;
}

.imgs {
    width:100px;
    height:80px;

}

.sidebar {
    width:30%;
    float: right;
}
.righthead {
    height: 40px;
    margin: 10px;
    line-height: 40px;
    font-size: 1.17em;
    font-weight: 800;
    border-left: 2px solid #CDCDCD;
}