.panel {
    background-color:#EEEEEE;
    margin: 20px;
    padding:20px;
    border:1px solid #999;
    width:96%;
    height: 700px;
}

.left{
    width:200px;
    float:left;
    background-color:#fff;
    border:1px solid #999;
}

.logo{
     margin:10px;
     float:left;
     width:80px;
     height:80px;
}

.right{
    width:120px;
    float:right;
}

.content{
    float:left;

}
